* {
    margin: 0;
    padding: 0;
}

.약::after {
    content: "";
    /* after는 인라인요소이다. */
    clear: both;
    display: block;
}

.아빠 {
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    background-color: cadetblue;
}

.아빠 .자식 {
    background-color: chocolate;
    width: 33.3333%;
    height: 100px;
    float: left;
}


.팔수 {
    margin-top: 30px;
}

.팔수 .자식8 {
    width: 45%;
    background-color: deepskyblue;
    float: left;
    height: 100px;
}

.팔수 .자식8.자식1 {
    margin-right: 10%;
}