* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
}

.parent1 {
    width: 500px;
    height: 500px;
    background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
}

.parent1 .child1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    /* --> 주위에 아무런 영향X 자신의 영역을 기억함 */
    left: 200px;
}

.parent1 .child1-2 {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
}

.parent2 {
    position: relative;
    margin-top: 30px;
    width: 500px;
    height: 500px;
    background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
}

.parent2 .child2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(x,y); */
    transform: translate(-50%,-50%); /* %는 자신을 기준 */
}

.parent3 {
    margin-top: 30px;
    width: 500px;
    /* height: 500px; */
    background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
}

.parent3 .child3 {
    position: fixed;
    right: 0; bottom: 100px;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.parent4 {
    height: 2000px;
}

.parent4 .child4 {}