* {
    margin: 0;
    padding: 0;
}

.치료::after {
    content: "";
    clear: both;
    display: block;
}

.아빠 {
    width: 1000px;
    background-color: burlywood;
    padding: 20px;
    border: 1px solid blue;
    margin: 30px auto;
}

.일수>div {
    width: 32%;
    margin-right: 2%;
    height: 150px;
    background-color: palevioletred;
    text-align: center;
    line-height: 150px;
    float: left;
}

.일수>div:last-child {
    margin-right: 0;
}

.일수 .자식1 {
    background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86720/86720210679_727.jpg);
    background-size: cover;
    position: relative;
    /* 기준이 되는 포지션:relative, absolute,fixed */
}

.일수 .자식1 .cover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: crimson;
    opacity: 0;
    transition: 0.3s;

}

.일수 .자식1:hover .cover {
    opacity: 1;
}

.일수 .자식2 {
    background-image: url(https://img.cgv.co.kr/Movie/Thumbnail/StillCut/000086/86720/86720210680_727.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.일수 .자식2 .cover {
    position: absolute;
    left: 50%;
    bottom: -57px;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 0.3s;
}

.일수 .자식2:hover .cover {
    bottom: 0;
}

.일수 .자식3 {
    position: relative;
}

.일수 .자식3 .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    line-height: 1.3;
    border: 1px solid red;
}
.일수 .자식3 .cover .title{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
.일수 .자식3 .cover video{
    width: 100%;
}